<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TWAIN</servlet-name>
		<servlet-class>twain_gae.TWAINServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionCleanup</servlet-name>
		<servlet-class>twain_gae.SessionCleanupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TWAIN</servlet-name>
		<url-pattern>/twain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionCleanup</servlet-name>
		<url-pattern>/session_cleanup</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>twain_gae.SessionListener</listener-class>
	</listener>
</web-app>
